#encabezado {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#letrasTitulo {
    color: blueviolet;
}


body {
    text-align: center;
}

#containercabecera {
    background-color: rgb(201, 207, 219);
    display: flex;
    font-size: 14px;
    align-items: center;
}

#imagen {
    height: 100px;
    width: 100px;
    margin-right: 7px
}
